@page "/productprofile"


@inject IProductRepository productR

<h3>Product Profile</h3>
<ProductDetails ></ProductDetails>


@code {
    private Product product;

    protected override void OnInitialized()
    {
        product = productR.GetProductbyId();
        Console.WriteLine(product != null? "Usuario obtenido correctamente": "No se obtuvo ningún usuario")
    }

}
