<h3>Detalles del producto</h3>
<br />
@if(product != null)
{
    <div>
        <h4>Producto: @product.Name</h4>
        <h5>Precio: @product.Price</h5>
        <p>Descipción: @product.Description</p>
    </div>
}
else
{
    <p>No information available</p>
}

