@using global::ProductProfile.Components.Models
<h3>ProductDetails</h3>

@if(product != null)
{
    <div>
        <h4>Product: @product.Name</h4>
        <h5>Price: @product.Price</h5>
        <p>Descrption: @product.Description</p>
    </div>
}
else
{
    <p>No information available</p>
}

@code {
    [Parameter]
    public Product product { get; set; }
}
